trigger:
- main

pool:
  name: WSL-Ubuntu-Agent

stages:
- stage: Development
  displayName: 'Development Stage'
  jobs:
  - deployment: DeployDevelopment
    displayName: 'Deploy to Development'
    environment: 'Development'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - script: |
              ls -R   # opcional, para debug
              echo "Desplegando en Development..."
              python main.py
            displayName: 'Run Hola Mundo in Dev'

- stage: QualityAssurance
  displayName: 'Quality Assurance Stage'
  dependsOn: Development
  jobs:
  - deployment: DeployQA
    displayName: 'Deploy to QA'
    environment: 'Quality assurance'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - script: |
              echo "Pruebas en QA..."
              python main.py
            displayName: 'Run Hola Mundo in QA'

- stage: Production
  displayName: 'Production Stage'
  dependsOn: QualityAssurance
  jobs:
  - deployment: DeployProduction
    displayName: 'Deploy to Production'
    environment: 'Production'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - script: |
              echo "Código final en Producción"
              python main.py
            displayName: 'Run Hola Mundo in Production'

